/** テーマ設定 **/
$schemes: light, dark;
$default-scheme: light;
$scheme-colors: (
    main:        (#6695E0, #1C1C27),
    accent:      (#FF8587, #7F5AF0),
    disable:     (#999999, #999999),
    border:      (#CCCCCC, #CCCCCC),
    txt:         (#333333, #ECECEC),
    txt-on-main: (#E0E0E0, #E0E0E0),
    txt-link:    (#3a66ac, #73757a),
    bg:          (#ECECEC, #2d2b2e),
    bg-front:    (#ECECEC, #2d2b2e),
    bg-back :    (#ffffff, #16161a),
    btn:         (#3a66ac, #575a63),
    btn-txt:     (#ffffff, #e0e0e0),
    btn-active:  (#6695e0, #3e248b),
    btn-disable: (#DDDDDD, #333333),
);

@mixin themes($scheme) {
    @each $name, $colors in $scheme-colors {
        $color: nth($colors, index($schemes, $scheme));
        $r: red($color);
        $g: green($color);
        $b: blue($color);
        --#{$name}-color: #{$color};
        --#{$name}-rgb-color: #{$r, $g, $b};
    }
}

@each $scheme in $schemes {
    @if $scheme == dark {
        @media (prefers-color-scheme: #{$scheme}) {
            body {
                @include themes($scheme);
            }
        }
    }
    @if $scheme == light {
        body {
            @include themes($scheme);
        }
    }
    
    body.theme-#{$scheme} {
        @include themes($scheme);
    }
}
