@import "../variables";

.p-filter-form, .p-setting-form {
    margin-bottom: 2rem;
    
    font-size: 1.3rem;
    line-height: 1.8rem;
    
    input {
        display: none;
    }
    
    > div {
        margin-bottom: 0.5rem;
        padding-left: 1rem;
        border-bottom: 1px solid var(--txt-color);
    }
    
    label {
        display: inline-block;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.7rem;
        margin: 0.3rem;
        padding: 0.5rem 1rem;
        background-color: rgba(var(--btn-disable-rgb-color), 0.9);
        
        border: 2px solid var(--txt-link-color);
        border-radius: 1rem;
        transition: background-color 0.2s ease, color 0.2s ease, border 0.2s ease;
        color: $disable-color;
        
        &.p-filter-form--strong {
            border: 2px solid var(--accent-color);
            // color: var(--txt-color);
        }
        @media (any-hover:hover) {
            &:hover, &:active {
                background-color: var(--main-color);
                border: 2px solid var(--main-color);
                color: var(--txt-color);
            }
        }
    }
    input[type=checkbox]:checked + label, input[type=radio]:checked + label {
        background-color: var(--btn-color);
        color: #FFF;
        &.p-filter-form--strong {
            background-color: var(--accent-color);
        }
    }
    input[type=radio] + label {
        border-radius: 0;
        
        @include mq('pc') {
            margin: 0.3rem 0;
            border-right: 1px solid rgba(var(--btn-rgb-color), 0.2);
            border-left: 1px solid rgba(var(--btn-rgb-color), 0.2);
            border-top: 2px solid var(--btn-color);
            border-bottom: 2px solid var(--btn-color);
            &:first-of-type {
                border-radius: 1rem 0 0 1rem;
                border-left: 2px solid var(--btn-color);
            }
            &:last-of-type {
                border-radius: 0 1rem 1rem 0;
                border-right: 2px solid var(--btn-color);
            }
        }
        @include mq('sp') {
            width: 100%;
            margin: 0 0.3rem;
            border-top: 1px solid rgba(var(--btn-rgb-color), 0.2);
            border-bottom: 1px solid rgba(var(--btn-rgb-color), 0.2);
            border-right: 2px solid var(--btn-color);
            border-left: 2px solid var(--btn-color);
            &:first-of-type {
                border-radius: 1rem 1rem 0 0;
                border-top: 2px solid var(--btn-color);
            }
            &:last-of-type {
                border-radius: 0 0 1rem 1rem;
                border-bottom: 2px solid var(--btn-color);
            }
        }
    }
}
