@import "../variables";

/** 画像保存 **/
#p-capture-img-area {
    background-color:  var(--base-bgcolor1);
    padding: 14px 12px 10px 12px;
    margin: 0;
    width: 1080px;
    
    #p-weapon-count-box {
        font-size: 3rem;
    }
}
