@import "../variables";

#p-buki-box {
    width: 100%;
    height: 100%;
    margin: 0 0 50px 0;
    
    display: flex;
    flex-direction: column;
    
    .p-tr {
        display: flex;
        
        > div {
            position: relative;
            margin: 2px;
            padding: 3px;
            
            background-position: center;
            background-size: cover;
            
            flex-direction: row;
            text-align: center;
            vertical-align: middle;
            
            @media (any-hover:hover) {
                &.p-td:hover {
                    &::after {
                        background-image: url('../img/check1.webp');
                    }
                    &::before {
                        background-image: url('../img/star1.webp');
                    }
                }
            }
            
            &::after, &::before  {
                z-index: 2;
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                
                background-position: center;
                background-size: cover;
            }
            
            img {
                z-index: 1;
                position: relative;
                width: 100%;
                margin: 0;
                padding: 0;
                vertical-align:top;
            }
        }
    }
}

#p-buki-box .p-tr > div.p-done {
    &.is-done {
        background-color: rgba(var(--btn-rgb-color), 0.2);
        border-radius: 50%;
    }
    
    @for $i from 1 through 5 {
        &--#{$i} {
            &::after{
                background-image: url('../img/check#{$i}.webp');
            }
            &::before{
                background-image: url('../img/star#{$i}.webp');
            }
            @if $i != 5 {
                @media (any-hover:hover) {
                    &:hover {
                        &::before{
                            background-image: url('../img/star#{$i + 1}.webp');
                        }
                        &::after{
                            background-image: url('../img/check#{$i + 1}.webp');
                        }
                    }
                }
            }
            @if $i == 5 {
                @media (any-hover:hover) {
                    &:hover {
                        &::before{
                            background-image: none;
                        }
                        &::after{
                            background-image: none;
                        }
                    }
                }
            }
        }
    }
    
    img {
        opacity: 0.5;
    }
}

@for $i from 1 through 5 {
    #p-buki-box.mode-star#{$i} .p-tr > div.p-done--#{$i} {
        &::after {
            background-image: none;
        }
        @if $i != 5 {
            @media (any-hover:hover) {
                &:hover {
                    &::before{
                        background-image: url('../img/star#{$i + 1}.webp');
                    }
                    &::after{
                        background-image: url('../img/check#{$i + 1}.webp');
                    }
                }
            }
        }
        
        img {
            opacity: 1;
        }
    }
}

#p-weapon-count-box {
    width: 100%;
    padding-right: 5%;
    text-align: right;
}
